.two-columns {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0 0 30px;
}
.two-columns__span-accent {
  font-weight: bold;
}
.two-columns__paragraph:last-child {
  margin: 0;
}
