.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}
.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 350px;
  justify-content: space-between;
}
.footer__column {
  color: white;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
}
.footer__list {
  padding: 0;
  margin: 20px 0 0;
}
.footer__column-link {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer__social-icons {
  margin-right: 10px;
}
